<div class="comments" style="display: flex; flex-flow: column;">
<p style="display: inline;">
  <strong style="color: pink !important; font-size: 34px;">Title:</strong>
  <%= @article.title %>
</p>
 
<p style="display: inline;">
  <strong style="color: pink !important; font-size: 34px;">Text:</strong>
  <%= @article.text %>
</p>
<p style="display: inline;">
  <strong style="color: pink !important; font-size: 34px;">Title:</strong>
  <%= @article.title %>
</p>
 
<p style="display: inline;">
  <strong style="color: pink !important; font-size: 34px;">Text:</strong>
  <%= @article.text %>
</p>
</div>
<h2 style="color: pink !important; font-size: 34px;">Comments</h2>
<%= render @article.comments %>
 
<h2 style="color: pink !important; font-size: 34px;">Add Comment:</h2>
<%= render 'comments/form' %>
 
<button><%= link_to 'Edit', edit_article_path(@article) %></button>
<button><%= link_to 'Back', articles_path %></button>

